.btn {
  padding: 10px 20px;
  text-decoration: none;
  color: $white;
  background: $primary-color;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;    
  gap: 8px;
  border: none;
  cursor: pointer;
  
  &__outline {
    background: transparent;
    color: $black;
    padding: 1px 4px;
    border: 2px solid $black;
  }

  &__img {
    display: inline;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border: none;
    background: inherit;
    color: inherit;
    border-radius: 6px;
    cursor: pointer;
  }

  &:hover {
    background: darken($primary-color, 50%);
  }

  &__icon {
    font-size: 18px;
  }

  &__text {
    font-size: 14px;
  }
}


.btn__outline2 {
  background-color: #333645;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 56px;
  width: 70px;
  cursor: pointer;

  .menu_div {
    transition: transform 0.5s ease, opacity 0.3s ease;
  }

  &.is-active .menu_div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  &.is-active .menu_div:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
  }

  &.is-active .menu_div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
