$primary-color: #007bff;
$black: #000;
$white: #fff;
$max-width: 1200px;
$laptop-width: 1024px;
$desktop-max: 1400px;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


// Variables for Services Page
$services-1-bg: #67809f;
$services-2-bg: #4183d7;
$services-3-bg: #2ecc71;
$services-4-bg: #d64541;
$services-5-bg: #926fb1;
$services-6-bg: #f62459;
$services-7-bg: #ce4125;

// Variables for Clients Component
$bg-color: #333645;
$text-light: #ffffff;
$text-muted: #a0a2ac;
$star-color: #f4b400;

$btn-dark-bg: #222430;
$btn-blue-bg: #4285f4;
$btn-green-bg: #00ce81;

$font-family: 'poppins', 'Inter', sans-serif;



// Variables for Latest News Component
$color-primary: #333645;
$color-accent: #f1b82d;
$color-text: #666;
$color-white: #fff;
$border-color: #eee;

// Variables for Footer Component
$footer-bg: #333645;
$footer-bottom-bg: #222430;
$social-bg: #222430;
$text-color: #fff;
$link-hover: #999;
