.ad {
  width: 100vw;
  padding: 40px 0;
  border-top: 1px solid #eee;
  font-family: $font-family;
  overflow-x: hidden; // important

  .container {
    width: 100%;
    gap: 16px;
    max-width: 100%;
    margin: 0;
    padding: 0; // remove side padding to make full width
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;

    width: 100%;
    overflow: hidden; // important (no scroll)
  }

  .ad-item {
    flex: 0 0 auto; // makes items distribute evenly
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;

    img {
      max-height: 100%;
      width: auto;
      object-fit: contain;
      filter: grayscale(100%);
      opacity: 0.6;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  .ad {
    padding: 20px 0;
  }

  .ad__list {
    padding-bottom: 10px;
    flex-wrap: nowrap; // allow wrapping instead of scroll
    justify-content: center;
    gap: 15px;
  }

  .ad-item {
    flex: 0 0 150px; // 2 per row on mobile
  }
}