.banner {
  background: linear-gradient(to right,
      rgba(0, 0, 0, 0.8) 20%,
      transparent 80%),
    url("../assets/netmatters.png") center/cover no-repeat;

  height: 80vh;
  width: 100vw; // 
  display: flex;
  align-items: center;
  color: white;
  font-family: $font-family;
  

  .container {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center; // mobile center
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
    margin: 20px 0;
  }

  button {
    background: $primary-color;
    border: none;
    padding: 20px 25px;
    color: white;
    cursor: pointer;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }
}


@media (min-width: 738px) {
  .banner {
    padding-left: 20px;
    padding-right: 20px;

    h1 {
      font-size: 48px;
      width: 70%;
    }

    p {
      font-size: 18px;
      margin: 20px 0;
      width: 50%;
    }

    .container {
      max-width: 1200px;
      display: flex;
       flex-direction: column;
       justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
    }
  }
}


