.services {
  width: 100%;
  // max-width: 1200px;
  // padding: 20px 16px;
  background: #f2f3f5;
  // background-color: red;

  .container {
    // background-color: blue;
    align-items: stretch;
    width: 100%;
    gap: 16px;
    padding-top: 30px;
    // justify-content: flex-start; 
  }

  &__intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  // &__top {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 32px;
  //   gap: 12px;
  // }

  &__title {
    font-size: 2rem;
    font-weight: 300;
    color: #2f3a4a;
  }

  &__view {
    font-size: 1.8rem;
    font-weight: 600;
    color: #2f3a4a;
    text-decoration: none;
  }

  // &__link {
  //   font-size: 20px;
  //   color: #2f3a4a;
  //   text-decoration: none;
  //   white-space: nowrap;
  // }

  // 📱 Mobile: 1 column
  &__grid {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // gap: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    width: 100%;
    max-width: 100%;
    margin: 16px 0;
  }
}

.view-our-work-mobile {
  // display: none;
  text-decoration: none;
  color: $color-primary;
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 20px;
  padding: 0 17%;

  &:hover {
    border-bottom: 2px solid $color-primary;
  }

  // @media (max-width: 767px) {
  //   display: inline-block;
  // }
}

.card {
  // width: 100%;
  background: white;
  border: 1px solid white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 30px 20px;
  // margin: 15px auto;
  text-align: center;
  gap: 16px;
  top: 0;
  transition: transform 0.5s ease;

  &:hover {
    // background-color: red;
    // filter: grayscale(0%); 
    top: -10px;
    opacity: 1;
    transform: translateY(-10px);
  }

  &__icon {
    @include flex-center;
    width: 65px;
    height: 65px;
    margin: 0 auto 10px;
    border-radius: 50%;
    // background-color: #5c7e9d;
    font-size: 32px;
    color: white;

    img {
      width: 40px;
      height: auto;
      display: block;
      margin: 0 auto;
      // fill: orange
    }
  }

  // .consultancy {
  //   top: 0px;
  //   transition: .5s ease;
  // }

  // Hover Colors 


  &.consultancy {
    background-color: white;
    color: black;

    .card__icon1 {
      background-color: #67819f;

      img {
        filter: brightness(0) invert(1);
        // :hover {
        //   color: #67819f;
        // }
      }
    }

    .card__btn1 {
      background-color: #f7b322;
      color: white;
      font-weight: lighter;

      &:hover {
        background-color: white;
        color: #67819f;
      }
    }
  }

  &.consultancy:hover {
    top: -10px;
    color: #67819f;
    transition: .5s ease;
    background-color: #67819f;

    .card__icon1 {
      background-color: white;

      img {
        // color : red;
        filter: invert(53%) sepia(13%) saturate(1153%) hue-rotate(172deg) brightness(92%) contrast(86%);
      }
    }

    .card__title1 {
      color: white;
    }

    .card__desc1 {
      color: white;
    }

    .card__btn1 {
      background-color: white;
      color: #67819f;
    }
  }





  &.it-support {
    background-color: white;
    color: black;

    .card__icon2 {
      background-color: #4d8ad1;

      img {
        filter: brightness(0) invert(1);
        // :hover {
        //   color: #67819f;
        // }
      }
    }

    .card__btn2 {
      background-color: #4d8ad1;
      color: white;
      font-weight: lighter;


      &:hover {
        background-color: white;
        color: #4d8ad1;
      }
    }
  }

  &.it-support:hover {
    top: -10px;
    color: #4d8ad1;
    transition: .5s ease;
    background-color: #4d8ad1;

    .card__icon2 {
      background-color: white;

      img {
        // color : red;
        filter: invert(53%) sepia(35%) saturate(735%) hue-rotate(174deg) brightness(91%) contrast(87%);
      }
    }

    .card__title2 {
      color: white;
    }

    .card__desc2 {
      color: white;
    }

    .card__btn2 {
      background-color: white;
      color: #4d8ad1;
    }
  }







  &.marketing {
    background-color: white;
    color: black;

    .card__icon3 {
      background-color: #2ecc71;

      img {
        filter: brightness(0) invert(1);
        // :hover {
        //   color: #67819f;
        // }
      }
    }

    .card__btn3 {
      background-color: #2ecc71;
      color: white;
      font-weight: lighter;

      &:hover {
        background-color: white;
        color: #2ecc71;
      }
    }
  }

  &.marketing:hover {
    top: -10px;
    color: #2ecc71;
    transition: .5s ease;
    background-color: #2ecc71;

    .card__icon3 {
      background-color: white;

      img {
        // color : red;
        filter: invert(65%) sepia(82%) saturate(415%) hue-rotate(95deg) brightness(95%) contrast(92%);
      }
    }

    .card__title3 {
      color: white;
    }

    .card__desc3 {
      color: white;
    }

    .card__btn3 {
      background-color: white;
      color: #2ecc71;
    }
  }







  &.telecoms {
    background-color: white;
    color: black;

    .card__icon4 {
      background-color: #d64541;

      img {
        filter: brightness(0) invert(1);
        // :hover {
        //   color: #67819f;
        // }
      }
    }

    .card__btn4 {
      background-color: #d64541;
      color: white;
      font-weight: lighter;

      &:hover {
        background-color: white;
        color: #d64541;
      }
    }
  }

  &.telecoms:hover {
    top: -10px;
    color: #d64541;
    transition: .5s ease;
    background-color: #d64541;

    .card__icon4 {
      background-color: white;

      img {
        // color : red;
        filter: invert(34%) sepia(54%) saturate(913%) hue-rotate(315deg) brightness(91%) contrast(89%);
      }
    }

    .card__title4 {
      color: white;
    }

    .card__desc4 {
      color: white;
    }

    .card__btn4 {
      background-color: white;
      color: #d64541;
    }
  }







  &.web-design {
    background-color: white;
    color: black;

    .card__icon5 {
      background-color: #9b59b6;

      img {
        filter: brightness(0) invert(1);
        // :hover {
        //   color: #67819f;
        // }
      }
    }

    .card__btn5 {
      background-color: #9b59b6;
      color: white;
      font-weight: lighter;

      &:hover {
        background-color: white;
        color: #9b59b6;
      }
    }
  }

  &.web-design:hover {
    top: -10px;
    color: #9b59b6;
    transition: .5s ease;
    background-color: #9b59b6;

    .card__icon5 {
      background-color: white;

      img {
        // color : red;
        filter: invert(43%) sepia(35%) saturate(1048%) hue-rotate(241deg) brightness(87%) contrast(85%);
      }
    }

    .card__title5 {
      color: white;
    }

    .card__desc5 {
      color: white;
    }

    .card__btn5 {
      background-color: white;
      color: #9b59b6;
    }
  }








  &.cyber {
    background-color: white;
    color: black;

    .card__icon6 {
      background-color: #e67e22;

      img {
        filter: brightness(0) invert(1);
        // :hover {
        //   color: #67819f;
        // }
      }
    }

    .card__btn6 {
      background-color: #e67e22;
      color: white;
      font-weight: lighter;

      &:hover {
        background-color: white;
        color: #e67e22;
      }
    }
  }

  &.cyber:hover {
    top: -10px;
    color: #e67e22;
    transition: .5s ease;
    background-color: #e67e22;

    .card__icon6 {
      background-color: white;

      img {
        // color : red;
        filter: invert(59%) sepia(85%) saturate(1633%) hue-rotate(345deg) brightness(94%) contrast(92%);
      }
    }

    .card__title6 {
      color: white;
    }

    .card__desc6 {
      color: white;
    }

    .card__btn6 {
      background-color: white;
      color: #e67e22;
    }
  }








  &.developer {
    background-color: white;
    color: black;

    .card__icon7 {
      background-color: #e74c3c;

      img {
        filter: brightness(0) invert(1);
        // :hover {
        //   color: #67819f;
        // }
      }
    }

    .card__btn7 {
      background-color: #e74c3c;
      color: white;
      font-weight: lighter;

      &:hover {
        background-color: white;
        color: #e74c3c;
      }
    }
  }

  &.developer:hover {
    top: -10px;
    color: #e74c3c;
    transition: .5s ease;
    background-color: #e74c3c;

    .card__icon7 {
      background-color: white;

      img {
        // color : red;
        filter: invert(41%) sepia(82%) saturate(3015%) hue-rotate(341deg) brightness(96%) contrast(90%);
      }
    }

    .card__title7 {
      color: white;
    }

    .card__desc7 {
      color: white;
    }

    .card__btn7 {
      background-color: white;
      color: #e74c3c;
    }
  }






  &__title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px;
    color: #2f3a4a;
  }

  &__desc {
    font-size: 16px;
    line-height: 1.7;
    color: grey;
    margin-bottom: 24px;
  }

  &__btn {
    border: none;
    padding: 14px 16px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    color: inherit;
    cursor: pointer;

    &:hover {
      background: darken(#f6b027, 10%);
    }
  }
}


//  Desktop Layout

@media (min-width: 768px) {
  .services {
    // padding: 60px 40px;
    // margin: 20px auto;

    &__title {
      font-size: 48px;
    }

    // 2 columns 
    &__grid {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 16px;
    }
  }
}

@media (min-width: #{$desktop-max}) {
  .services {

    // 3 columns 
    &__grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}

@media (min-width: #{$laptop-width}) {
  .services {

    // 3 columns 
    &__grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}